body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background: #c782be;
}

.container{
    display: grid;
    place-items: center;
    position: relative;
    height: 600px;
    width: 300px;
    background: #191919;
    border-radius: 10px;
    overflow: hidden;
   

}
.container::before{
    content: '';
    height: 600px;
    width: 150px;
    left: 0px;
    top: 0px;
    position:absolute;
    background: linear-gradient(#00e5ff,#b400fb);
    animation:animate 5s linear infinite;
}
 
@keyframes animate{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

.container::after{
    content: 'shashank';
    position: absolute;
    background: #191919;
    inset: 3px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: monospace;
    border-radius: 5px;
}
